/**
* $Id: module.css,v 1.3 2007/09/30 12:52:44 m0nty_ Exp $
* Module: WF-Downloads 3.2
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/

.wfdownloads_headertable {padding: 0; margin: 0; border-bottom: 1px solid; margin-bottom: 10px;}
.wfdownloads_modulename {font-size: 10px; text-align: left; font-weight: bold; padding-right: 0.3em;	line-height: 18px;}
.wfdownloads_breadcrumb {font-size: 10px; line-height: 18px;}

.wfdownloads_infotitle {margin-top: 8px; margin-bottom: 8px; font-size: 250%; line-height: 250%; font-weight: bold; display: block;}
.wfdownloads_infotext  {margin-bottom: 8px; line-height: 130%; display: block;}

.wfdownloads_adminlinks {padding-top: 15px; padding-bottom: 5px; font-size: 10px; text-align: center; line-height: 18px;}

.wfdownloads_indexfooter {font-size: 10px; font-weight: bold; text-align: center;  padding: 10px;}
.wfdownloads_itemfooter {font-size: 10px; font-weight: bold; text-align: center;  padding: 10px;}


ul { 
	padding: 2px; 
	list-style: disc;
	text-align: left;
}

li { 
	margin-left: 5px;
	color: #2F5376;
}

h4 {
	font-size: 14px;
	text-decoration: underline;
}

.wfd_container {
 	height: 100%;
	display: table; width: 100%; margin: 0 auto;
	border: none;
}

.wfd_static {
	position: static;
	clear: both;
}
 
/* ---------- global ---------- */
.wfd_pagenav {
	text-align: right;
}

.wfd_copyright {
	text-align: center;
}

/* ---------- header.html ---------- */
.wfd_head_catimageheader {
	text-align: center;
}

.wfd_head_downimageheader {
	text-align: center;
}

.wfd_head_imageheader {
	text-align: center;
}

.wfd_head_catindexheader {
/*	text-align:	center;  do not uncomment (will stop index alignment option working)  */
}

.wfd_head_catletters {
	text-align:	center;
	font-size: 80%;
}

.wfd_head_cattoolbar {
	text-align:	center;
}

/* ---------- footer.html ---------- */
.wfd_foot_commentnav {
	text-align:	center;
	padding: 3px;
	margin: 3px;
}

.wfd_foot_comments {
	padding: 3px;
	margin: 3px;
}

/* ---------- newlist.html ---------- */
.wfd_newlist_top {
	text-align: center;
	width: 100%;
}

.wfd_newlist_top fieldset {
	text-align: center;
	border: 1px solid silver;
	width: 450px;
}

.wfd_newlist_totallast {
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: large;
}

/* ---------- disclaimer.html ---------- */
.wfd_disc_imghead {
	text-align:	center;
}

.wfd_disc_disclaimer {
	text-align:	center;
}

.wfd_disc_discform {
	text-align:	center;
}

/* ---------- ratefile.html ---------- */
.wfd_rate_imghead {
	text-align:	center;
}

/* ---------- viewcat.html ---------- */
.wfd_view_top {}

.wfd_view_subs {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.wfd_view_subs h3 {
	text-align: center;
	width: 100%;
	background-color: #BEC8D1;
}

.wfd_view_subs fieldset {}

.wfd_view_subslist {
	text-align: left;
	vertical-align: middle;
	width: 90%;
}

.wfd_view_catpath {
	text-align: left;
	margin-left: 5px;
	padding: 0px;
	font-weight: bold;
}

.wfd_view_sortlist {
	text-align: center;
	font-size: small;
}

/* ---------- download.html ---------- */
.wfd_down_title {
	padding-top: 2.0em
}

.wfd_down_top_r {
	float: right;
	margin-right: 10px;
	position: relative;
}

.wfd_down_top_l {
	float: left;
}

.wfd_down_main_l {
	width: 74%;
	float: left;
	height: 100%;
	position: relative;
	display: table;
}

.wfd_down_main_l p{
	padding-top: 10px;
	margin: 0;
}

.wfd_down_viewdetails {
	text-align: right;
}

.wfd_down_main_r {
	width: 25%;
	height: 100%;
	float: right;
	position: relative;
	display: table;
}

.wfd_down_main_r p{
	padding-top: 10px;
	margin: 0;
}

.wfd_down_info_top {
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
	background-color: silver;
	border-color: #999999;
	font-size: .8em;
}

.wfd_down_info_bottom {
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
	font-size: .8em;
}

.wfd_down_main_b {
	text-align: center;
}

.wfd_down_main_bottom {
	width: 100%;
	position: relative;
	text-align: center;
}

.wfd_down_main_bottom2 {
	text-align: center;
	background-color: silver;
	width: 100%;
	position: relative;
	line-height: 150%;
}

.wfd_down_custom {
	width: 100%;
	position: relative;
	text-align: center;
}

/* ---------- singlefile.html ---------- */
.wfd_single_title {
	padding-top: 2.0em
}

.wfd_single_title a {
	color: #32529C;
	background-color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.wfd_single_title a:hover {
	color: #666;
	background-color: inherit;
	text-decoration: none;
}

.wfd_single_top_r {
	float: right;
	margin-right: 10px;
	position: relative;
}

.wfd_single_top_l {
	float: left;
}

.wfd_single_main_l {
	width: 74%;
	height: 100%;
	float: left;
	position: relative;
	display: table;
}

.wfd_single_main_l p {
	padding-top: 10px;
	margin: 0;
}

.wfd_single_main_r {
	width: 25%;
	float: right;
	display: table-column;
}

.wfd_single_info_top {
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
	background-color: silver;
	border-color: #999999;
	color: #333;
	font-size: .8em;
}

.wfd_single_info_dtimes {
	margin-left: 4px;
}

.wfd_single_main_custom {
	width: 100%;
	position: relative;
	text-align: center;
}

.wfd_single_main_bottom {
	text-align: center;
	background-color: silver;
	width: 100%;
	position: relative;
	float: bottom;
}

.wfd_single_userrev {
	padding: 3px;
	margin: 3px;
}

.wfd_single_usermir {
	padding: 3px;
	margin: 3px;
}

/* ---------- mirrors.html ---------- */
.wfd_mirrors_head, .wfd_mirrors_head2, .wfd_mirrors_head3 {
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
	background-color: #BEC8D1;
	text-align: left;
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
}

.wfd_mirrors_head4 {
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
	background-color: #BEC8D1;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
	width: 50px;
}

.wfd_mirrors_head5 {
	border-bottom: 2px solid #000000;
	border-left: 0px solid #000000;
	background-color: #BEC8D1;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
	width: 30px;
}

tr.wfd_mirrors_elist {
	line-height: 25px;
}

.wfd_mirrors_list, .wfd_mirrors_list2, .wfd_mirrors_list3 {
	text-align: left;
	border-right: 1px solid #000000;
}

.wfd_mirrors_list4, .wfd_mirrors_list5 {
	text-align: center;
	vertical-align: middle;
}

.wfd_mirrors_found {}

table.wfd_mirrors {
	width: 95%;
	padding: 10px 10px 10px 10px;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.wfd_mirrors_end {
	background-color: #BEC8D1;
}


.wfd_mirrors_foot, .wfd_mirrors_foot a {
	border-top: 2px solid #000000;
	font-weight: bold;
}

.wfd_mirrors_bottom {
	font-weight: bold;
}

/* ---------- reviews.html ---------- */
.wfd_reviews_title {}

.wfd_reviews_desc {}

.wfd_reviews_catpath {}

.wfd_reviews_found {
	width: 90%;
	text-align: center;
}

.wfd_reviews_revfound {
	text-align: left;
}

.wfd_reviews_addrev {
	text-align: right;
}

.wfd_reviews_reviewlist {
	padding: 10px 10px 10px 10px;
	border: 1px #000000 solid;
	border-collapse: collapse;
	width: 95%;
}

.wfd_reviews_reviewer {
	text-align: left;
	width: 80%;
	background-color: #BEC8D1;
/*	border-right: 1px solid #000000; */
	border-bottom: 2px solid #000000;
}
.wfd_reviews_reviewdate {
	text-align: right;
	width: 15%;
	background-color: #BEC8D1;
	border-bottom: 2px solid #000000;
}

.wfd_reviews_revlistleft {
	text-align: left;
	border-right: 1px solid #000000;
	width: 120px;
}

.wfd_reviews_revlistright {
	text-align: left;
}

.wfd_reviews_revlistreview {
	position: absolute;
	top: 0px;
	left: 125px;
	width: 90%;
}

.wfd_reviews_revlisttitle {
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
	font-weight: bold;
	color: #0000CC;
}
.wfd_reviews_revlistrev {}

.wfd_reviews_foot {
	background-color: #BEC8D1;
	border: 2px solid #000000;
	width: 95%;
}
.wfd_reviews_addrev {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #BEC8D1;
	border: 2px solid #000000;
}

/*  styles for the unit rater
--------------------------------------------------------- 
ryan masuga, masugadesign.com
ryan@masugadesign.com 
Licensed under a Creative Commons Attribution 3.0 License.
http://creativecommons.org/licenses/by/3.0/
See readme.txt for full credit details.
--------------------------------------------------------- */

#container {
	width: 50%;
	border: 1px solid #CCC;
	padding: 20px;
	}

.ratingblock {
	}

.loading {
	height: 30px;
	background: url(images/icon/working.gif) 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 30px;
	position: relative;
	background: url(images/icon/starrating.gif) top left repeat-x;		
	}

.unit-rating div {
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	float: left;
	}
	
.unit-rating div a {
	outline: none;
	display:block;
	width:30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating div a:hover{
	background: url(images/icon/starrating.gif) left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}

.unit-rating div.current-rating {
	background: url(images/icon/starrating.gif) left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {}
.thanks {color:#36AA3D;}
.static {}	