<{if $isAdmin == 1}>
	<div class="wfdownloads_adminlinks" align="center"><{$wfdownloads_adminpage}></div>
<{/if}>

<{if $com_rule <> 0}>
	<div class="wfd_foot_commentnav">
		<{$commentsnav}>
		<{$lang_notice}>
	</div>
	
	<div class="wfd_foot_comments">
		<!-- start comments loop -->
		<{if $comment_mode == "flat"}>
			<{include file="db:system_comments_flat.html"}>
		<{elseif $comment_mode == "thread"}>
			<{include file="db:system_comments_thread.html"}>
		<{elseif $comment_mode == "nest"}>
			<{include file="db:system_comments_nest.html"}>
		<{/if}>
		<!-- end comments loop -->
	</div>
<{/if}>

<{include file='db:system_notification_select.html'}>
