<{include file='db:wfdownloads_header.html'}>

<h1><{$category_title}></h1>
<img src="<{$category_image}>" alt="<{$category_title}>" title="<{$category_title}>" />

<div class="wfd_container">
     <div class="wfd_single_title">
          <span class="itemTitle"><{$down.title}></span></a><{$down.icons}>
     </div>

     <div class="wfd_single_main_l">
          <{if $show_screenshot == true}>
               <{if $down.screenshot_full != ''}>
                    <div>
                         <a href="<{$xoops_url}>/<{$shots_dir}>/<{$down.screenshot_full}>" rel="<{$down.title}>">
                              <img src="<{$down.screenshot_thumb}>" alt="<{$down.title}>" title="<{$down.title}>" vspace="3" hspace="7" align="<{$smarty.const._GLOBAL_RIGHT}>" style='border: 1px solid black' />
                         </a>
                    </div>
               <{/if}>
               <{if $down.screenshot_full2 != '' && $viewcat !== true}>
                    <div>
                         <a href="<{$xoops_url}>/<{$shots_dir}>/<{$down.screenshot_full2}>" rel="<{$down.title}>">
                              <img src="<{$down.screenshot_thumb2}>" alt="<{$down.title}>" title="<{$down.title}>" vspace="3" hspace="7" align="<{$smarty.const._GLOBAL_RIGHT}>" style='border: 1px solid black' />
                         </a>
                    </div>
               <{/if}>
               <{if $down.screenshot_full3 != '' && $viewcat !== true}>
                    <div>
                         <a href="<{$xoops_url}>/<{$shots_dir}>/<{$down.screenshot_full3}>" rel="<{$down.title}>">
                              <img src="<{$down.screenshot_thumb3}>" alt="<{$down.title}>" title="<{$down.title}>" vspace="3" hspace="7" align="<{$smarty.const._GLOBAL_RIGHT}>" style='border: 1px solid black' />
                         </a>
                    </div>
               <{/if}>
               <{if $down.screenshot_full4 != '' && $viewcat !== true}>
                    <div>
                         <a href="<{$xoops_url}>/<{$shots_dir}>/<{$down.screenshot_full4}>" rel="<{$down.title}>">
                              <img src="<{$down.screenshot_thumb4}>" alt="<{$down.title}>" title="<{$down.title}>" vspace="3" hspace="7" align="<{$smarty.const._GLOBAL_RIGHT}>" style='border: 1px solid black' />
                         </a>
                    </div>
               <{/if}>
          <{/if}>

          <p>
               <a href="<{$xoops_url}>/modules/wfdownloads/visit.php?cid=<{$down.cid}>&amp;lid=<{$down.id}>">
               <img src="<{$xoops_url}>/modules/wfdownloads/images/icon/downloads.gif" alt="<{$smarty.const._MD_WFD_DOWNLOADNOW}>" title="<{$smarty.const._MD_WFD_DOWNLOADNOW}>" align="middle" />
               <{$smarty.const._MD_WFD_DOWNLOADNOW}></a>&nbsp;&nbsp;
               <{if $down.use_mirrors == 1 && $down.mirrors_num >= 1}>
                    <a href="<{$xoops_url}>/modules/wfdownloads/mirror.php?op=list&amp;cid=<{$down.cid}>&amp;lid=<{$down.id}>">
                    <img src="<{$xoops_url}>/modules/wfdownloads/images/icon/downloads02.gif" alt="<{$smarty.const._MD_WFD_DOWNLOADMIRRORS}>" title="<{$smarty.const._MD_WFD_DOWNLOADMIRRORS}>" align="middle" /> <{$smarty.const._MD_WFD_DOWNLOADMIRRORS}></a>
               <{/if}>
               <{if $down.use_mirrors !== 1 && $down.mirror != ''}>
                    <img src="<{$xoops_url}>/modules/wfdownloads/images/icon/downloads02.gif" alt="<{$smarty.const._MD_WFD_DOWNLOADMIRRORS}>" title="<{$smarty.const._MD_WFD_DOWNLOADMIRRORS}>" align="middle" /> <{$down.mirror}>
               <{/if}>
               <{$down.adminlink}>
               <{if $down.forumid > 0}>
                    <a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$down.forumid}>">
                    <img src="<{$xoops_url}>/modules/wfdownloads/images/icon/forum.gif" align="middle" alt="<{$smarty.const._MD_WFD_INFORUM}>" title="<{$smarty.const._MD_WFD_INFORUM}>" /><{$smarty.const._MD_WFD_INFORUM}></a>
               <{/if}>
          </p>
          <br /><br />
          <div align="justify"><b><{$smarty.const._MD_WFD_DESCRIPTIONC}></b><br /><br /><{$down.description}></div>
          <br />
          <{if $custom_form}>
               <!-- added - start - March 8 2006 - jpc -->
               <table width="100%">
                    <{foreach item=element from=$formulize_download}>
                    <tr valign="top">
                         <td class="head"><{$element.caption}></td>
                         <td class="<{cycle values="even,odd"}>">
                              <{foreach item=value from=$element.values name=valueloop}>
                                   <{$value}>
                                   <{if !$smarty.foreach.valueloop.last}><br /><{/if}>
                              <{/foreach}>
                         </td>
                    </tr>
                    <{/foreach}>
               </table>
               <!-- added - end - March 8 2006 - jpc -->
          <{/if}>
          <{if $down.features != ''}>
               <div><b><{$smarty.const._MD_WFD_FEATURES}></b></div>
               <div><ul>
                    <{foreach item=features from=$down.features}>
                         <li><{$features}></li>
                    <{/foreach}>
               </ul></div>
               <br />
          <{/if}>
          <{if $down.requirements != ''}>
               <div><b><{$smarty.const._MD_WFD_REQUIREMENTS}></b></div>
               <div><ul>
                    <{foreach item=requirements from=$down.requirements}>
                         <li><{$requirements}></li>
                    <{/foreach}></ul></div><br />
          <{/if}>
          <{if $down.history != ''}>
               <div align="justify"><b><{$smarty.const._MD_WFD_HISTORY}></b><br /><{$down.history}></div>
               <br />
          <{/if}>

     </div>
     <div class="wfd_single_main_r">
          <div class="wfd_single_info_top">
               <div><small><b><{$smarty.const._MD_WFD_SUBMITTER}>:</b>&nbsp;<{$down.submitter}></small></div>
               <{if $down.publisher != ''}>
                    <div><small><b><{$smarty.const._MD_WFD_PUBLISHER}>:</b>&nbsp;<{$down.publisher}></small></div>
               <{/if}>
               <div><small><b><{$lang_subdate}>:</b>&nbsp;<{$down.updated}></small></div>
               <br />
               <{if $down.version != 0}>
                    <div><small><b><{$smarty.const._MD_WFD_VERSION}>:</b>&nbsp;<{$down.version}></small></div>
               <{/if}>
               <div><small><b><{$smarty.const._MD_WFD_VERSIONTYPES}>:</b>&nbsp;<{$down.versiontypes}></small></div>
               <div><small><b><{$smarty.const._MD_WFD_DOWNLOADHITS}>:</b>&nbsp;<{$down.hits}></small></div>
               <div><small><b><{$smarty.const._MD_WFD_FILESIZE}>:</b>&nbsp;<{$down.size}></small></div>
               <{if $down.homepage != ''}>
                    <div><small><b><{$smarty.const._MD_WFD_HOMEPAGE}>:</b>&nbsp;<{$down.homepage}></small></div>
               <{/if}>
          </div>
          <br />

          <div class="wfd_single_info_bottom">
               <b><{$smarty.const._MD_WFD_RATINGC}></b>&nbsp;<img src="<{$xoops_url}>/modules/wfdownloads/images/icon/<{$down.rateimg}>" alt="" title="" align="middle" />&nbsp;&nbsp;(<{$down.votes}>)
          </div>
          <div class="wfd_single_info_bottom">
               <b><{$smarty.const._MD_WFD_REVIEWS}></b>&nbsp;<img src="<{$xoops_url}>/modules/wfdownloads/images/icon/<{$down.review_rateimg}>" alt="" title="" align="middle" />&nbsp;&nbsp;(<{$down.reviews_num}>)
          </div>
          <{if $down.use_mirrors == 1}>
               <div class="wfd_single_info_bottom">
                    <b><{$smarty.const._MD_WFD_MIRROR_AVAILABLE}></b>&nbsp;<{$down.mirrors_num}>
               </div>
          <{/if}>
          <div class="wfd_single_info_bottom"><small><b><{$smarty.const._MD_WFD_DOWNTIMES}></small></b>
               <div style="margin-left: 4px;">
                    <small><{$down.downtime}></small>
               </div>
          </div>
     </div>
</div>

<{if !$custom_form}>
     <div class="wfd_single_main_bottom">
          <b><{$smarty.const._MD_WFD_PRICE}>:</b>&nbsp;<{$down.price}> |
          <b><{$smarty.const._MD_WFD_SUPPORTEDPLAT}>:</b>&nbsp;<{$down.platform}> | 
          <b><{$smarty.const._MD_WFD_DOWNLICENSE}>:</b>&nbsp;<{$down.license}> | 
          <b><{$smarty.const._MD_WFD_LIMITS}>:</b>&nbsp;<{$down.limitations}>
     </div>
<{/if}>
<div class="wfd_single_main_bottom2">
     <{if $down.use_mirrors == 1 && $down.add_mirror == 1}>
          <a href="<{$xoops_url}>/modules/wfdownloads/mirror.php?cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_WFD_ADDMIRROR}></a> | 
     <{/if}>
     <a href="<{$xoops_url}>/modules/wfdownloads/review.php?cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_WFD_REVIEWTHISFILE}></a> | 
     <a href="<{$xoops_url}>/modules/wfdownloads/ratefile.php?cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_WFD_RATETHISFILE}></a> | 
     <{if $down.useradminlink == true}>
          <a href="<{$xoops_url}>/modules/wfdownloads/submit.php?lid=<{$down.id}>"><{$smarty.const._MD_WFD_MODIFY}></a> | 
     <{/if}>
     <a href="<{$xoops_url}>/modules/wfdownloads/brokenfile.php?lid=<{$down.id}>"><{$smarty.const._MD_WFD_REPORTBROKEN}></a> | 
     <a target="_top" href="mailto:?subject=<{$down.mail_subject}>&amp;body=<{$down.mail_body}>"><{$smarty.const._MD_WFD_TELLAFRIEND}></a> | 
     <a href="<{$xoops_url}>/modules/wfdownloads/singlefile.php?cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._COMMENTS}> (<{$down.comments}>)</a>
</div>
<br />
<div class="wfd_single_userinfo">
     <div><b><{$lang_user_reviews}></b></div>
          <div style="padding: 3px; margin:3px;">
          <img src="<{$xoops_url}>/modules/wfdownloads/images/icon/reviews.gif" width="32" height="32" alt="" title="" align="middle" />
          <a href="<{$xoops_url}>/modules/wfdownloads/review.php?<{$lang_UserReviews}>"</a>
     </div>
     <br />
     <{if $down.use_mirrors == 1 && $down.mirrors_num >= 1}>
          <div><b><{$lang_user_mirrors}></b></div>
          <div style="padding: 3px; margin:3px;">
               <a href="<{$xoops_url}>/modules/wfdownloads/mirror.php?<{$lang_UserMirrors}>"</a>
          </div>
          <br />
     <{/if}>
     <div><b><{$smarty.const._MD_WFD_OTHERBYUID}></b> <{$down.submitter}></div>
     <table width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr>
               <{foreach item=down_user from=$down_uid}>
                    <td>
                         <div style="margin-left: 10px;">
                              <a href="<{$xoops_url}>/modules/wfdownloads/singlefile.php?cid=<{$down_user.cid}>&amp;lid=<{$down_user.lid}>"><{$down_user.title}></a>
                              (<{$down_user.published}>)
                         </div>
                    </td>
                    <{if 20 is div by 2}>
                         </tr><tr>
                    <{/if}>
               <{/foreach}>
          </tr>
     </table>
     <br />

     <div align="center"><{$lang_copyright}></div>
     <br />
</div>

<{include file='db:wfdownloads_footer.html'}>